{% load static %}

{% include 'student_navigation.html' %}

<style>
    .bg{
            padding-top: 5px;
            padding-bottom: 5%;
            background-image: url("{% static 'images\search.png' %}");
            background-repeat: no-repeat;
            background-size: 100%;
        }
</style>

{% block body %}

<div class="container text-center mt-1">
    <img src="{% static 'images\ls1.png' %}" alt="" width="90%">
</div>

{% endblock %}

{% include 'student_footer.html' %}